body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.centering {
    text-align: center;
}

img{
    width: 25cm;
}
h1, h2, h3 {
    margin-top: 0;
}
h3{
    color: rgb(105, 63, 125);
}

body {
    background-color:rgb(250, 235, 246);
}

footer{
    text-align: center;
}
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

.popular-songs-card, .search-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.popular-songs-card ul {
    list-style: none;
    padding: 0;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-card {
    width: 45%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.search-card h2 {
    margin-top: 0;
}

.search-card form {
    margin-bottom: 20px;
}

.search-card input[type="text"] {
    width: calc(100% - 130px);
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(236, 215, 233);

}

.search-card button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(243, 182, 225);
    

}

.search-card button:last-child {
    margin-left: 10px;
}

.search-results-label {
    margin-top: 0;
    font-weight: bold;
    background-color: rgb(199, 166, 236);

}

.search-results-card, .year-search-results-card {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.year-search-results-card {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
   

}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-card {
        width: 100%;
    }
}

.search-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
